body {
  font-family: sans-serif;
  padding: 20px;
  background: #333333;
  color: #37b8db;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
#topBar {
  border-bottom: 2px solid #37b8db;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#gameTitle {
  margin: 0;
  font-size: 32px;
}
#gameWrapper {
  display: flex;
}

#sidebar {
  width: 200px;
  background-color: #111;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #37b8db;
}

.tab {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #222;
  color: #37b8db;
  cursor: default;
}

.tab.active {
  background-color: #37b8db;
  color: #333333;
  font-weight: bold;
  cursor: pointer;
}

#mainContent {
  flex-grow: 1;
  padding: 20px;
}
