body {
  font-family: sans-serif;
  padding: 20px;
  background: #222;
  color: #37b8db;
}

button {
  padding: 10px 20px;
  font-size: 16px;
}
#topBar {
  border-bottom: 2px solid #37b8db;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-align: center;
}

#gameTitle {
  margin: 0;
  font-size: 32px;
}
#gameWrapper {
  display: flex;
}

#sidebar {
  width: 150px;
  background-color: #222;
  padding: 0px;
  display: flex;
  flex-direction: column;
}

.tab {
  padding: 20px;
  margin-bottom: 1px;
  font-weight: bold;
  text-align: left;
  border-radius: 4px;
  transition: background 0.2s, color 0.2s;
  background-color: #333;
}

/* Shared tab button class */
.tab.button {
  cursor: pointer;
  color: #fff;
}

/* Idle colors (not selected) */
.tab.button.earth {
  background-color: #303d30;
  color: #1c8f1c;
}

.tab.button.exploration {
  background-color: #2b4252;
  color: #176ba3;
}

.tab.button.fleets {
  background-color: #4a2b2b;
  color: #801a1a;
}

.tab.button.artifacts {
  background-color: #3d3d36;
  color: #99994c;
}

.tab.button.blackhole {
  background-color: #422b4a;
  color: #661a80;
}

/* active colors (selected) */
.tab.button.earth.active {
  color: #303d30;
  background-color: #1c8f1c;
}

.tab.button.exploration.active {
  color: #2b4252;
  background-color: #176ba3;
}

.tab.button.fleets.active {
  color: #4a2b2b;
  background-color: #801a1a;
}

.tab.button.artifacts.active {
  color: #3d3d36;
  background-color: #99994c;
}

.tab.button.blackhole.active {
  color: #422b4a;
  background-color: #661a80;
}

#mainContent {
  flex-grow: 1;
  padding: 20px;
}
